<div class="card xs:col-12 md:col-6 xl:col-4 mx-auto px-3 text-center">
    <h1>Regisztráció</h1>
    <h3 class="mb-4">Töltsd ki az űrlapot a regisztráláshoz</h3>
    <!--primeng registration form-->
    <div class="mb-5">
        <p-floatlabel>
            <input id="username" [(ngModel)]="user.name" pInputText class="w-full mb" />
            <label for="username">Felhasználónév</label>
        </p-floatlabel>
    </div>
    <div class="mb-5">
        <p-floatLabel>
            <input pInputText id="email" [(ngModel)]="user.email" type="email" class="w-full" />
            <label for="email">Email</label>
        </p-floatLabel>
    </div>
    <div class="mb-5">
        <p-password id="password1" [(ngModel)]="user.password" type="password" class="w-full" [feedback]="false" placeholder="Jelszó"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}" [toggleMask]="true"></p-password>
    </div>
    <div class="mb-3">
        <p-password id="password1" [(ngModel)]="user.confirm" type="password" class="w-full" [feedback]="false" placeholder="Jelszó megerősítése"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}" [toggleMask]="true"></p-password>
    </div>
    <button type="submit" pButton label="Regisztráció" (click)="save()"></button>
</div>